body {
	background-color: black;
	color: white;
	text-align: center;
	font-family: 'Audiowide';
}

#badass_heading {
	font-size: 400%;
	text-shadow: 2px 2px 1px gray;
}

#badass_gamertag {
	font-size: 300%;
	text-shadow: 2px 2px 1px gray;
}

#badass_button {
  background-image: -webkit-linear-gradient(top, #ebebeb, #c2c2c2);
  background-image: -moz-linear-gradient(top, #ebebeb, #c2c2c2);
  background-image: -ms-linear-gradient(top, #ebebeb, #c2c2c2);
  background-image: -o-linear-gradient(top, #ebebeb, #c2c2c2);
  background-image: linear-gradient(to bottom, #ebebeb, #c2c2c2);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 2px 2px 1px #383838;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  font-family: 'Audiowide';
  color: #ffffff;
  font-size: 120%;
  padding: 5px 10px 5px 10px;
}

#badass_button:hover {
  background-image: -webkit-linear-gradient(top, #adadad, #8f8f8f);
  background-image: -moz-linear-gradient(top, #adadad, #8f8f8f);
  background-image: -ms-linear-gradient(top, #adadad, #8f8f8f);
  background-image: -o-linear-gradient(top, #adadad, #8f8f8f);
  background-image: linear-gradient(to bottom, #adadad, #8f8f8f);
  text-decoration: none;
}