html {
	position: relative;
	min-height: 100%;
}

body {
	background:
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
		background-color:#282828;
		background-size:16px 16px;
	color: white;
	text-align: center;
	font-family: 'Audiowide';
	margin-bottom: 10px; /* footer height */
}

#badass_heading {
	font-size: 400%;
	margin-bottom: 10px;
}

#badass_gamertag_container {
	font-size: 320%;
	text-shadow: 2px 2px 1px black;
	margin: -40px 0px 85px 0px;
}

.badass_decoration {
	height: 220px;
	margin-bottom:-30px;
}

.badass_decoration#left {
	margin-right:-25px;
}

.badass_decoration#right {
	margin-left:-25px;
	position:relative;
	z-index: -1;
}

#badass_button {
	background-image: -webkit-linear-gradient(top, #ebebeb, #c2c2c2);
	background-image:    -moz-linear-gradient(top, #ebebeb, #c2c2c2);
	background-image:     -ms-linear-gradient(top, #ebebeb, #c2c2c2);
	background-image:      -o-linear-gradient(top, #ebebeb, #c2c2c2);
	background-image:   linear-gradient(to bottom, #ebebeb, #c2c2c2);
	border-radius: 5px;
	text-shadow: 2px 2px 1px #383838;
	font-family: 'Audiowide';
	color: #ffffff;
	font-size: 120%;
	padding: 5px 10px 5px 10px;
	margin-bottom: 40px;
}

#badass_button:hover {
	background-image: -webkit-linear-gradient(top, #adadad, #8f8f8f);
	background-image:    -moz-linear-gradient(top, #adadad, #8f8f8f);
	background-image:     -ms-linear-gradient(top, #adadad, #8f8f8f);
	background-image:      -o-linear-gradient(top, #adadad, #8f8f8f);
	background-image:   linear-gradient(to bottom, #adadad, #8f8f8f);
	text-decoration: none;
}

#badass_announce {
	margin-top: 40px;
}

#badass_horizontal_rule {
	width: 50%;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,255.75), rgba(0,0,0,0));
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,255.75), rgba(0,0,0,0));
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,255.75), rgba(0,0,0,0));
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,255.75), rgba(0,0,0,0));
}

#badass_footer {
	font-size: 75%;
	color: #808080;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 26px;
}

a:link {
	color: #B3B3B3;
}

a:visited {
	color: #8F8F8F;
}